.ThanksScreen {
    background-color: rgb(255, 254, 254);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
}