.components__button {
  background-color: #a7d1dd;
  margin: 2%;
  padding: 5% 5%;
  border-style: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5rem;
  width: fit-content;
  z-index: 15;
}

@media (max-width: 600px) {
  .components__button {
    width: 40vw;
  }
}
