.contacscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacscreen__title {
    width: 286px;
    height: 34px;
    margin: 20px 24px 0 70px;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.06;
    letter-spacing: 2.13px;
}

.contacscreen__img {
    width: 160px;
    height: 160px;
    margin: 30px 100px 10px;
}

.contacscreen__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.contacscreen__imgtext {
    width: 184px;
    margin: 10px 0 40px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.33px;
    text-align: center;
    color: #161616;
    border-bottom: 0.1px solid rgb(111, 111, 111);
}

.contacscreen__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInput {
    width: 320px;
    margin: 4px 0 4px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-bottom: solid 2px black;
}

.formText {
    width: 320px;
    height: 80px;
    padding: 14px 20px 42px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: inset 1px -1px 0 0 rgba(0, 0, 0, 0.2);
}

.contacscreen__form--button {
    width: 300px;
    height: 44px;
    margin: 40px 11px 0;
    padding: 5px 13px;
    border-radius: 2.9px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #a7d1dd;
}

.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .contacscreen__title {
        width: 303px;
        height: 64px;
        margin: 0 0 0 10px;
        font-size: 52px;
        font-weight: bold;
        letter-spacing: 3.47px;
    }
    .contacscreen__img {
        width: 272px;
        height: 272px;
        margin: 30px 0 10px;
    }
    .formInput {
        font-size: 32px;
        letter-spacing: 2.13px;
        width: 608px;
    }
    .formText {
        width: 648px;
        height: 146px;
    }
    .contacscreen__form--button {
        width: 648px;
        font-size: 1.5rem;
    }
}

@media (min-width: 1440px) {
    .contacscreen {
        width: 100vw;
        height: 100vh;
    }
    .contacscreen__title {
        position: absolute;
        top: 160px;
        left: 160px;
        right: 814px;
        bottom: 508px;
    }
    .contacscreen__form {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 317px;
        right: 684px;
        left: 80px;
        bottom: 409px;
        width: fit-content;
    }
    .formText {
        width: 676px;
        height: 146px;
        margin: 40px 0 0;
        padding: 24px 20px 83px;
        border-radius: 10px;
        box-shadow: inset 1px -1px 0 0 rgba(0, 0, 0, 0.2);
    }
    .responsive {
        position: absolute;
        top: 160px;
        left: 995px;
        right: 173px;
        bottom: 333px;
        margin: 0;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacscreen__form--button {
        width: 425px;
        height: 88px;
        position: absolute;
        left: 800px;
        top: 195px;
    }
    .formText {
        font-size: 32px;
    }
    .contacscreen__img {
        margin: 0;
        margin-bottom: 10px;
    }
    .contacscreen__imgtext {
        margin: 0;
    }
}