.homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #FAFAFA;
    font-weight: bold;
    letter-spacing: 1.33px;
}

.homeContainer__title {
    font-size: 80px;
}

.homeContainer {
    grid-column: span 3;
    margin-top: 20vh;
    padding: 5% 5%;
}

.homeContainer__hi {
    font-size: 1.3rem;
}

.homeContainer__bye {
    margin-top: 3%;
    padding: 2% 0;
    font-size: 1.3rem;
}

@media (max-width: 500px) {
    .homeContainer {
        margin-top: 1vh;
        grid-column: span 4;
    }
    .homeContainer__title {
        margin-left: 15%;
    }
    .homeContainer__hi {
        padding: 0 10%;
        letter-spacing: 1.07px;
        font-size: 16px;
    }
    .homeContainer__bye {
        margin-top: 3%;
        padding: 0 10%;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .homeContainer__contact {
        width: 60vw;
    }
}