.menu__container {
  width: 55vw;
  position: fixed;
  z-index: 20;

}

.menu__container--close {
  animation-name: out;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border: 2px solid black;
}

.menu__container--open {
  animation-name: intro;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  box-shadow: 10px 5px 5px black;
  border: 2px solid black;
}

@keyframes intro {
  from {
    left: -55vw;
  }
  to {
    left: 0;
  }
}

@keyframes out {
  from {
    left: 0;
  }
  to {
    left: -55vw;
  }
}
