.photoScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoScreen img {
    width: 100%;
    height: 100%;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    border: 2px solid black;
    width: fit-content;
}

.btn:hover {
    background-color: black;
    color: white;
}