.loginscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: black;
  background-image: url(https://media.istockphoto.com/photos/programming-source-code-abstract-background-picture-id1047259374?k=20&m=1047259374&s=612x612&w=0&h=pt3XbBvrmiYgoYmVzsaUeXtV8vw_jJI9Ly8P7AL6Qig=);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.loginscreen__firstTitle {
  margin-top: 70px;
  font-weight: bold;
  margin-bottom: 40px;
}

.loginscreen__main{
  background-color: white;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  text-align: center;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
}
.login__libray {
  display: flex;
  flex-direction: column;
}

.login__main--title {
  font-size: 1.5rem;
  font-weight: bold;
}

.login__main--title:last-child {
  margin-top: 10px;
  margin-bottom: 2%;
}

.loginscreen__main__firstTitle {
  font-weight: bold;
  margin-bottom: 10%;
}

#loginscreen__tsparticles {
  position: absolute;
  opacity: 0.6;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 600px) {
  .aboutscreen__main__firstTitle {
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about__libray {
    padding-left: 6px;
    padding-right: 6px;
  }
}
